h1{
    padding:10px;
   text-align: center;
}

.input-val{
    align-items: center;
    margin-left: 450px;
    margin-top: 40px;
    width:20%;
    height: 5%;
}
.suggestions-container {
    border: none;
    max-width: 300px;
    margin-left: 500px;
    margin-top: 40px;
    background-color: #fff;
  }
  .suggestion-item {
    padding: 8px;
    cursor: pointer;
  }
  
  .suggestion-item:hover {
    background-color: #f0f0f0;
  }